@{
    ViewBag.Title = "Moxie";
}

<h2>Moxie</h2>

<div id="container">
    <a id="file-picker" href="javascript:;">Browse...</a>
</div>

<div id="upload-info">
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/moxie-js")
}